/* MARGIN LEFT */
.mgl1 {
    margin-left: 1px;
}
.mgl2 {
    margin-left: 2px;
}
.mgl3 {
    margin-left: 3px;
}
.mgl4 {
    margin-left: 4px;
}
.mgl5 {
    margin-left: 5px;
}
.mgl6 {
    margin-left: 6px;
}
.mgl7 {
    margin-left: 7px;
}
.mgl8 {
    margin-left: 8px;
}
.mgl9 {
    margin-left: 9px;
}
.mgl10 {
    margin-left: 10px;
}
.mgl20 {
    margin-left: 20px;
}
.mgl30 {
    margin-left: 30px;
}
.mgl40 {
    margin-left: 40px;
}
/* MARGIN TOP */
.mgt1 {
    margin-top: 1px;
}
.mgt2 {
    margin-top: 2px;
}
.mgt3 {
    margin-top: 3px;
}
.mgt4 {
    margin-top: 4px;
}
.mgt5 {
    margin-top: 5px;
}
.mgt6 {
    margin-top: 6px;
}
.mgt7 {
    margin-top: 7px;
}
.mgt8 {
    margin-top: 8px;
}
.mgt9 {
    margin-top: 9px;
}
.mgt10 {
    margin-top: 10px;
}
.mgt20 {
    margin-top: 20px;
}
.mgt30 {
    margin-top: 30px;
}
.mgt40 {
    margin-top: 40px;
}

/* MARGIN BOTTOM */
.mgb1 {
    margin-bottom: 1px;
}
.mgb2 {
    margin-bottom: 2px;
}
.mgb3 {
    margin-bottom: 3px;
}
.mgb4 {
    margin-bottom: 4px;
}
.mgb5 {
    margin-bottom: 5px;
}
.mgb6 {
    margin-bottom: 6px;
}
.mgb7 {
    margin-bottom: 7px;
}
.mgb8 {
    margin-bottom: 8px;
}
.mgb9 {
    margin-bottom: 9px;
}
.mgb10 {
    margin-bottom: 10px;
}
.mgb20 {
    margin-bottom: 20px;
}
.mgb30 {
    margin-bottom: 30px;
}
.mgb40 {
    margin-bottom: 40px;
}